footer {
    padding: 40px 0 40px 0;
    max-width: 1220px;
    margin: auto;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links p {
    font: 600 14px Montserrat;
    line-height: 14px;
    text-align: left;
    color: #757575;
}

.pages {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.lectures {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

footer .border_line {
    margin: 20px 0 20px 0;
    display: flex;
    height: 1, 2px;
    background: #E0E0E0;
    width: 100%;

}

.under_info {
    display: flex;
    justify-content: space-between;
}

.under_info .soc_networks {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.under_info .soc_networks .github{
    height: 20px;
    width: 25px;
    background-image: url('../../Pages/Home/assets/github.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.under_info .soc_networks .gt{
    height: 18px;
    width: 28px;
    background-image: url('../../Pages/Home/assets/GT.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.under_info .soc_networks .youtube{
    height: 18px;
    width: 25px;
    background-image: url('../../Pages/Home/assets/youtube.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.under_info .trade_mark p {
    font: 600 12px Montserrat;
    line-height: 12px;
    color: #757575;
}

.under_info span {
    text-decoration: underline;
    font: 600 12px Montserrat;
    line-height: 12px;
    color: #757575;
}