.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    max-width: 1220px;
    margin: auto;
}

.header p {
    color: black;
    font: 700 16px Montserrat;
}

.header .login {
    font: 700 16px Montserrat;
    color: black;
    height: 43;
    padding: 13px 21px;
    background: rgb(246, 245, 244);
    border-width: 0;
}

.header .signup {
    font: 700 16px Montserrat;
    width: 125px;
    height: 43px;
    padding: 13px 21px;
    border-radius: 14px;
    background: #2B788B;
    color: aliceblue;
    border-width: 0;
}

.border_line {
    display: flex;
    height: 1px;
    background: #E0E0E0;
    width: 100%;

    /* Как сделать на всю ширину экрана */
}